.table td:hover {
    color: blue;
    text-shadow: 1px 0px 0px blue;
    cursor: pointer;
}

.table .selected-cell {
    background-color: lightgreen;
}

textarea {
    resize: none;
}

home-cantainer {
    width: 100%;
}

.jumbotron-container {
    width: 100%;
    height: 100vh;
    background-image: url("../../assets/pizza.jpg");
    background-size: cover;
    overflow: hidden;
}

.jumbotron-overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-items: center;
    color: white;
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
}

.jumbotron-overlay * {
    margin: 20px 60px;
}

.navbar-animation {
    transition: 0.6s;
}

.navbar a {
    color: white !important;
}

.navbar .titulo {
    letter-spacing: 2px;
}

.navbar a.dropdown-item {
    color: black !important;
}

.slices-container {
    display: flex;
    width: 100%;
    height: 120vh;
    flex-direction: column;
}

.slice {
    display: flex;
    width: 100%;
    height: 60vh;
    align-items: center;
}

.slice img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.slice h3,
.slice p {
    text-align: center;
    margin: 15px;
}

.bookings-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 35vw;
    max-height: 350px;
    min-height: 300px;
    color: white;
    background-color: black;
}

.menu-header-footer {
    display: flex;
    width: calc (100% - 20px);
    height: 150px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
}

.menu-content {
    width: 100%;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: flex-start;
}

.menu-dish {
    height: 150px;
    padding: 10px;
}

.dish-title {
    display: flex;
    justify-content: space-between;
}

.contactus-container {
    background-color: black;
    width: 100%;
    text-align: center;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contactus-row {
    padding: 40px;
}

.contactus-footer {
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
}

.contactus-footer>div {
    overflow: hidden;
    white-space: nowrap;
}

iframe {
    width: 100%;
    height: 300px;
}

@media screen and (min-width: 768px) {
    div.slices-container {
        flex-direction: row;
        height: calc(100vh - 60px);
    }
    div.slice {
        flex: 0 1 100%;
        height: 100%;
    }
    div.slice-reverse {
        order: 2;
    }
    div.menu-content {
        display: flex;
        height: 1350px;
    }
    div.menu-dish {
        width: 50%;
    }
}

@media screen and (min-width: 1200px) {
    div.menu-content {
        display: flex;
        height: 900px;
    }
    div.menu-dish {
        width: 33%;
    }
}